extends include/template

block content
    main
        .container
            .table-wrap
                table.table
                    tbody
                        tr(data-row='image' class='different')
                            td &nbsp;
                            td
                                a(href='#' target="_blank").table__image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").table__image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").table__image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").table__image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").table__image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").table__image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                        tr(data-row='label' class='label')
                            td &nbsp;
                            td
                                a(href='#test' target="_blank").title Новоград Павлино
                            td
                                a(href='#' target="_blank").title Новоград Павлино 2
                            td
                                a(href='#' target="_blank").title Новоград Павлино 3
                            td
                                a(href='#' target="_blank").title Новоград Павлино 4
                            td
                                a(href='#' target="_blank").title Новоград Павлино 5
                            td
                                a(href='#' target="_blank").title Новоград Павлино 6
                        tr(data-row='city')
                            td Город
                            td —
                            td —
                            td —
                            td —
                            td —
                            td —
                        tr(data-row='city_district')
                            td Городской округ
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                        tr(data-row='city_block')
                            td Район
                            td —
                            td —
                            td —
                            td —
                            td —
                            td —
                        tr(data-row='street')
                            td Улица
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                        tr(data-row='highway')
                            td Шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                        tr(data-row='image' class='different')
                            td &nbsp;
                            td
                                a(href='#' target="_blank").image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                            td
                                a(href='#' target="_blank").image
                                    img(src="http://novostroev.ru/upload/resize_cache/iblock/bc4/276_200_2/2898969_ee8ef42ec05c43a45f9c3e18922b08b2.jpg", alt="alt")
                        tr(data-row='city')
                            td Город
                            td —
                            td —
                            td —
                            td —
                            td —
                            td —
                        tr(data-row='city_district')
                            td Городской округ
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                        tr(data-row='city_block')
                            td Район
                            td —
                            td —
                            td —
                            td —
                            td —
                            td —
                        tr(data-row='street')
                            td Улица
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                        tr(data-row='highway')
                            td Шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                        tr(data-row='street')
                            td Улица
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                        tr(data-row='highway')
                            td Шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                        tr(data-row='city')
                            td Город
                            td —
                            td —
                            td —
                            td —
                            td —
                            td —
                        tr(data-row='city_district')
                            td Городской округ
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                            td Балашиха
                        tr(data-row='city_block')
                            td Район
                            td —
                            td —
                            td —
                            td —
                            td —
                            td —
                        tr(data-row='street')
                            td Улица
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                        tr(data-row='highway')
                            td Шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                        tr(data-row='street')
                            td Улица
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                            td Железнодорожный р-н, вблизи д. Павлино
                        tr(data-row='highway')
                            td Шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе
                            td Носовихинское шоссе